[submodule "python/obstore"]
	path = python/_obstore
	url = https://github.com/developmentseed/obstore
[submodule "fixtures/geotiff-test-data"]
	path = fixtures/geotiff-test-data
	url = https://github.com/developmentseed/geotiff-test-data
