[workspace]
resolver = "2"
members = ["lib", "cli"]

[workspace.package]
version = "0.1.0"
edition = "2021"
authors = ["Kyle Barron <kyle@developmentseed.org>"]
license = "MIT"
repository = "https://github.com/developmentseed/async-tiff"
readme = "README.md"

[workspace.dependencies]
tokio = { version = "1.43.0", default-features = false, features = ["sync"] }